.snake-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}

.snake-wrap .snake-part {
    height: 8px;
    width: 8px;
    background-color: aliceblue;
    position: absolute;
    border: 1px solid #a9a9a9;
}